{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h2>Register</h2>
    <form action="/register" method="POST">
        <div>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" required>
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" required>
        </div>
        <div>
            <label for="confirmation">Confirm Password: </label>
            <input type="password" name="confirmation" id="confirmation" required>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="alert alert-danger">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <button type="submit">Register</button>
    </form>
{% endblock %}
